
@{
    ViewData["Title"] = "SignIn";
}

<h1>SignIn</h1>
<form asp-controller="HOme" asp-action="SignInAsPost" method="post">
    <input type="text" name="userName" value="fcakiroglu16" />
    <input type="password" name="password" value="Password12*" />
    <button type="submit">SignIn></button>
</form>


